body{
  margin: 0;
  padding: 0;
  background-color: #88A47C;
}
.App {
  text-align: center;
}
.App-header {
  display: flex;
  justify-content: center;
  color: #497174;
  font-family: 'Dancing Script', cursive;
  background-color: #D6E4E5;
}

.container{
  display: flex;
  justify-content: center;
  flex: 1;
}
.item{
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}
.text{
  font-family: 'Noto Sans Display', sans-serif;
}
button {
  border: none;
  font-size: 15px;
  color: #497174;
  background-color: #88A47C;
  cursor: pointer;
  font-family: 'Roboto Mono', monospace;
}
.slider{
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}
.pic{
  width: 450px;
  max-height: 400px;
}
.block{
  padding: 0 30px;
}
.btn {
  display: inline-block;
  border: 1px solid transparent;
  font-family: 'Noto Sans Display', sans-serif;
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  color: #fff;
  background-color: #EB6440;
  align-self: center;
  padding: 3px 10px;
  margin-bottom: 35px;
}
.nextBtn{
  font-weight: bold;
  font-size: 20px;
  color: #FCF8E8;
}

@media all and (max-width: 800px){
  body{
    margin: 10px;
    padding: 10px;
  }
  h1, h2{
      font-size: 25px;
  }
  p{
    font-size: 18px;
  }
  .nextBtn{
    font-size: 15px;
  }
  .block{
    padding: 0 1px;
  }
  .pic{
    width: 250px;
    max-height: 200px;
  }
}
